* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

#map {
    height: 80vh;
    margin-top: 8px;
    border-radius: 8px;
    border: 8px solid white;

}

body {
    background: #dfdfdf;
}

h2 {
    color: #080e2c;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #1D2D4E;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}


#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#loader::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Cor branca com transparência */
    z-index: -1;
}